.signupCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 5em;
  margin-top: 3em;
  max-height: 100%;
}

.signupCardLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #60B848 1.64%, #009677 98.36%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4rem;
}
.signupCardLeft .img {
  max-width: 100%;
  background-color: transparent;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.signupCardLeft h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
}
.signupCardLeft h2:last-child {
  margin-bottom: 3rem;
}
.signupCardRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.signupCardRight h3 {
  color: #50B848;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  padding-bottom: 20px;
}
.signupCardRChild {
  background-color: transparent;
  padding-bottom: 1.5rem;
}

.signupCardLeft .img {
  width: 400px;
  height: 200px;
  margin: 10px 10px 0 0;
}
.form {
  background: transparent;
}
.formField {
  margin-bottom: 15px;
  background: transparent;
}

.formField input {  
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #F5F5F5;
  background: #F5F5F5;
  width: 500px;
} 
.formField input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}
.form p {
  background: transparent;
  font-size: 12px
}

.form a {
  color: #60B848;
  background: transparent;
  text-decoration: none;
}

.buttonSubmit[type="submit"] {
  background: linear-gradient(270deg, #60b848 1.64%, #009677 98.36%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  width: 200px;
  margin-bottom: 10px;
}
